{% extends 'base.html.twig' %}

{% block title %}Administration - {{ parent() }} {% endblock %}

{% block body %}
    <h1 class="text-center">Gestion des membres</h1>

    {% for label, flashes in app.session.flashbag.all %}
        {% for flash in flashes %}
            <div class="alert alert-{{ label }}">
                {{ flash }}
            </div>
        {% endfor %}
    {% endfor %}

    <div class="col-xs-12 col-md-10 col-md-offset-1 col-lg-8 col-lg-offset-2">
        <h2>Utilisateurs</h2>

        <div class="container-fluid">
            <div class="row">
                <table class="table tableMembre table-hover table-bordered">
                    <thead>
                    <tr>
                        <th>Email</th>
                        <th>Nom</th>
                        <th>Supprimer</th>
                    </tr>
                    </thead>
                    <tbody>
                        {% for user in users %}
                            {% if 'ROLE_ADMIN' not in user.roles %}
                            <tr>
                                <td>{{ user.email }}</td>
                                <td>{{ user.username }}</td>
                                <td class="text-center"><a href="{{ path('delete_user', {'id': user.id}) }}"><image src={{ asset('images/glyphicons/png/glyphicons-17-bin.png') }} alt="supprimer"></image></a></td>
                            </tr>
                            {% endif %}
                        {% endfor %}
                    </tbody>
                </table>
            </div>
            <div class="row">
                <a role="button" class="btn btn-default active" href={{ path("accueil") }}>Accueil</a>
            </div>
        </div>
    </div>
{% endblock %}
