{% extends "base.html.twig" %}

{% block body %}
    <h1>Modification nom du compte</h1>

    {% for label, flashes in app.session.flashbag.all %}
        {% for flash in flashes %}
            <div class="alert alert-{{ label }}">
                {{ flash }}
            </div>
        {% endfor %}
    {% endfor %}

    <div class="row">
        <div class="col-xs-10 col-md-6 col-lg-7">
            <div class="well">
                {{ form_start(form, {'attr': {'class': "text-center formulaire-container"} }) }}
                <div class="form-group">
                    {{ form_row(form.username, {'label' : 'Nouveau nom du compte', 'attr':{'placeholder': 'nouveau nom de compte', 'class': 'text-center'}}) }}
                </div>
                <div>
                    <input class="btn btn-default btn-lg active" type="submit" value="Enregistrer" />
                </div>
                {{ form_end(form) }}
            </div>
            <div class="row">
                <a role="button" class="btn btn-default active" href={{ path("security_profile") }}>Retour</a>
            </div>
        </div>
    </div>
{% endblock %}