{% extends "base.html.twig" %}

{% block body %}
    <h1>Modification du mot de passe</h1>

    {% for label, flashes in app.session.flashbag.all %}
        {% for flash in flashes %}
            <div class="alert alert-{{ label }}">
                {{ flash }}
            </div>
        {% endfor %}
    {% endfor %}

    <div class="row">
        <div class="col-xs-10 col-md-6 col-lg-7">
            <div class="well">
                {{ form_start(form, {'attr': {'class': "text-center"} }) }}

                 <div class="form-group">
                    {{ form_row(form.plainPassword.first, {'label' : 'Nouveau mot de passe', 'attr':{'placeholder': 'Entrez votre nouveau mot de passe', 'class': 'text-center'}}) }}
                 </div>

                <div class="form-group">
                    {{ form_row(form.plainPassword.second, {'label' : 'Repetez le nouveau mot de passe', 'attr':{'placeholder': 'Repetez votre nouveau mot de passe', 'class': 'text-center'}}) }}
                </div>

                <div>
                    <input class="btn btn-default btn-lg active" type="submit" value="Enregistrer" />
                </div>

                {{ form_end(form) }}
            </div>

            <div class="row">
                <a href="{{ path('security_profile') }}"><button class="btn btn-default active">retour</button></a>
            </div>
        </div>
    </div>
{% endblock %}
