{% extends "base.html.twig" %}

{% block body %}
    <h2 class="text-center">Changement de mot de passe</h2>

    {% for response in app.session.flashbag.get('response') %}
        <div class="alert alert-warning alert-dismissible row col-xs-12 text-center">
            <button class="text-center" type="button" data-dismiss="alert" aria-label="close"><span class="text-center" aria-hidden="true">{{ response }}</span></button>
        </div>
    {% endfor %}

    {{ form_start(form, {'attr': {'class': "text-center"} }) }}
    <div class="text-center form-group">
        {{ form_row(form.plainPassword.first, {'label' : 'Nouveau mot de passe', 'attr':{'placeholder': 'Entrez votre nouveau mot de passe', 'class': 'text-center'}}) }}
    </div>
    <div class="text-center form-group">
        {{ form_row(form.plainPassword.second, {'label' : 'Repetez le nouveau mot de passe', 'attr':{'placeholder': 'Repetez votre nouveau mot de passe', 'class': 'text-center'}}) }}
    </div>
    <div>
        <input class="btn-know" type="submit" value="Changer de mot de passe" />
    </div>
    {{ form_end(form) }}
    <div class="text-center">
        <a href="{{ path('security_profile') }}"><button class="btn-default">retour</button></a>
    </div>
{% endblock %}