{% extends "base.html.twig" %}

{% block body %}
    <div class="container-fluid">
        <div class="row">
            <h1>Profil</h1>
        </div>

        <div class="row">
            <table class="table tableClient table-hover table-bordered">
                    <thead>
                    <tr>
                        <th>Utilisateur</th>
                        <th>Email</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td>{{ user.username }}</td>
                        <td>{{ user.email }}</td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <div class="row">
                <a class="btn btn-default active" href={{ path("security_edit_profile") }}>Modifier le nom du compte</a>
                <a class="btn btn-default active" href={{ path("security_change_password") }}>Modifier votre mot de passe</a>
            </div>
        </div>
    <div class="row">
        <a role="button" class="btn btn-default active" href={{ path("accueil") }}>Accueil</a>
    </div>
    </div>
{% endblock %}