{% extends "base.html.twig" %}

{% block title %}
    Gestion des ventes
{% endblock %}

{% block body %}

    <div class="container-fluid">
        <div class="row">
            <h1>Récapitulatif</h1>
        </div>

        <div class="row">
            {{ render_flash_alerts() }}
        </div>

        <div id="nouveau" class="row">
            <a role="button" class="btn btn-default active" href={{ path("new_vte") }}>Nouvelle vente</a>
        </div>

        <div class="row">
            <table class="table tableVente table-hover table-bordered">
                <thead>
                <tr>
                    <th>Voir</th>
                    <th>Nom</th>
                    <th>Prénom</th>
                    <th>Société</th>
                    <th>Date vente</th>
                    <th>Montant ventes</th>
                    <th>Points de Fidelité</th>
                    <th>Modifier</th>
                    <th>Supprimer</th>
                </tr>
                </thead>

                <tbody>
                {% for vente in ventes %}
                    <tr>
                        <td><a href={{ path('show_vte', { 'id': vente.id }) }}>
                                <image src={{ asset('images/glyphicons/png/glyphicons-52-eye-open.png') }} alt="voir"></image>
                            </a></td>
                        <td>{{ vente.client.nom|capitalize }}</td>
                        <td>{{ vente.client.prenom|capitalize }}</td>
                        <td>{{ vente.client.societe }}</td>
                        <td>{{ vente.dateVente|date("d/m/Y") }}</td>
                        <td>{{ vente.montantVente|number_format(2, '.', ',') }}</td>
                        <td>{{ vente.pointFideliteVente |number_format(2, '.', ',')}}</td>
                        <td><a href={{ path('edit_vte', { 'id': vente.id }) }}>
                                <image src={{ asset('images/glyphicons/png/glyphicons-151-edit.png') }} alt="modifier"></image>
                            </a></td>
                        <td><a href={{ path('delete_vte', { 'id': vente.id }) }}>
                                <image src={{ asset('images/glyphicons/png/glyphicons-17-bin.png') }} alt="supprimer"></image>
                            </a></td>
                    </tr>
                {% endfor %}
                </tbody>

            </table>
        </div>
        <div class="row">
            <a role="button" class="btn btn-default active" href={{ path("accueil") }}>Accueil</a>
        </div>

    </div>


{% endblock %}
