{% extends "base.html.twig" %}

{% block title %}
    Nouvelle Vente
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.4.1/css/bootstrap-datepicker3.css"/>
{% endblock %}

{% block body %}
    <h1>Nouvelle vente</h1>

    <div class="row">
        <div class="col-xs-10 col-sm-9 col-md-8 col-lg-7">
            <div class="well">
                {{ form_start(form, {'attr': {'class': 'form-horizontal'}}) }}

                {{ form_errors(form) }}

                <div class="form-group">
                    {{ form_label(form.client, "", {'label_attr': {'class': 'col-sm-4 control-label'}}) }}
                    {{ form_errors(form.client) }}
                    <div class="col-sm-7">
                        {{ form_widget(form.client, {'attr': {'class': 'form-control'}}) }}
                    </div>
                </div>

                <div class="form-group">
                    {{ form_label(form.dateVente, "", {'label_attr': {'class': 'col-sm-4 control-label'}}) }}
                    {{ form_errors(form.dateVente) }}
                    <div class="col-sm-7 input-group date" id="datepicker">
                        {{ form_widget(form.dateVente, {'attr': {'class': 'text-center form-control', 'name': 'datepicker'}}) }}
                        <span class="input-group-addon"><i class="glyphicon glyphicon-th"></i></span>
                    </div>
                </div>

                <div class="form-group">
                    {{ form_label(form.montantVente, "", {'label_attr': {'class': 'col-sm-4 control-label'}}) }}
                    {{ form_errors(form.montantVente) }}
                    <div class="col-sm-7">
                        {{ form_widget(form.montantVente, {'attr': {'class': 'text-center form-control'} }) }}
                    </div>
                </div>

                <div class="form-group">
                    Points fidélités à déduire
                </div>

                <div class="row">
                    <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                        Nbr de ventes restantes avant remise :
                    </div>
                    <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
                        10
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                        Cumul des points de fidélité :
                    </div>
                    <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
                        10
                    </div>
                </div>

                {{ form_rest(form) }}

                <input type="submit" value="Valider" class="btn btn-default btn-lg active">

                {{ form_end(form) }}

            </div>
        </div>
    </div>

    <div class="row">
        <a role="button" class="btn btn-default active" href={{ path("accueil") }}>Accueil</a>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript"
            src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.4.1/js/bootstrap-datepicker.min.js"></script>
    <script src="{{ asset('js/index.js') }}"></script>
{% endblock %}