{% extends 'base.html.twig' %}

{% block body %}
    <h1>Vente</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ vente.id }}</td>
            </tr>
            <tr>
                <th>Date de la vente</th>
                <td>{% if vente.dateVente %}{{ vente.dateVente|date('Y-m-d') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Montant de la vente</th>
                <td>{{ vente.montantVente }}</td>
            </tr>
            <tr>
                <th>Points de fidélité</th>
                <td>{{ vente.pointFidelite }}</td>
            </tr>
            <tr>
                <th>Réf Client</th>
                <td>{{ vente.client.nom }}</td>
                <td>{{ vente.client.prenom }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('all_vte') }}">Retour à la liste</a>
        </li>
        <li>
            <a href="{{ path('edit_vte', { 'id': vente.id }) }}">Modifier</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
    <div class="row">
        <a role="button" class="btn btn-default active" href={{ path("accueil") }}>Accueil</a>
    </div>
{% endblock %}
