{% extends 'base.html.twig' %}

{% block title %}
    Vente
{% endblock %}

{% block body %}
    <h1>Vente</h1>

<div class="row">
    <div class="col-xs-10 col-sm-8 col-md-6 col-lg-6">
        <table class="table tableVue table-hover table-bordered">
        <tbody>
            <tr>
                <th class="col-xs-4 col-sm-4 col-md-6 col-lg-6">Id</th>
                <td class="col-xs-8 col-sm-8 col-md-6 col-lg-6">{{ vente.id }}</td>
            </tr>
            <tr>
                <th>Nom Client</th>
                <td>{{ vente.client.nom }}</td>
            </tr>
            <tr>
                <th>Prénom Client</th>
                <td>{{ vente.client.prenom }}</td>
            </tr>
            <tr>
                <th>Date de la vente</th>
                <td>{% if vente.dateVente %}{{ vente.dateVente|date('d/m/Y') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Montant de la vente</th>
                <td>{{ vente.montantVente }}</td>
            </tr>
            <tr>
                <th>Points de fidélité</th>
                <td>{{ vente.pointFidelite }}</td>
            </tr>

        </tbody>
    </table>
    </div>
</div>
    <div class="row">
        <a role="button" class="btn btn-default active" href={{ path("all_vte") }}>Retour à la liste des ventes</a>

        <a role="button" class="btn btn-default active"
           href={{ path("edit_vte", { 'id': vente.id }) }}>Modifier</a>
    </div>

    <div class="row">
        <a role="button" class="btn btn-danger active" href={{ path("delete_vte", {'id': vente.id})}}>Supprimer</a>
    </div>

    <div class="row">
        <a role="button" class="btn btn-default active" href={{ path("accueil") }}>Accueil</a>
    </div>
{% endblock %}
