<!DOCTYPE html>

<html>

<head>
    <meta charset="UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% block stylesheets %}
        <link rel="stylesheet" href="{{ asset('bootstrap/css/bootstrap.min.css') }}">
        <link rel="stylesheet" href="{{ asset('css/index.css') }}">
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}"/>
    {% endblock %}
    <title>{% block title %}Fidélité !{% endblock %}</title>

</head>

<body>
{% block body %}
    <div class="container-fluid">
        <h1>La fidélité récompensée !</h1>

        {% for label, flashes in app.session.flashbag.all %}
            {% for flash in flashes %}
                <div class="alert alert-{{ label }}">
                    {{ flash }}
                </div>
            {% endfor %}
        {% endfor %}

        <div class="row">
            {% if is_granted('ROLE_ADMIN') or is_granted('ROLE_USER') %}
                <a href={{ path("new_clt") }} role="button" class="btn btn-default btn-lg active">Nouveau</br> client</a>
                {% if is_granted('ROLE_ADMIN') %}
                <a href={{ path("all_clt") }} role="button" class="btn btn-default btn-lg active">Gestion</br> des
                clients</a>
                {% endif %}
            {% else %}
                <a href={{ path("security_login") }} role="button" class="btn btn-default btn-lg active">Connexion</a>
                <a href={{ path("security_register") }} role="button" class="btn btn-default btn-lg active">Inscription</a>
            {% endif %}
        </div>

        <div class="row">
            {% if is_granted('ROLE_ADMIN') or is_granted('ROLE_USER') %}
            <a href={{ path("new_vte") }} role="button" class="btn btn-default btn-lg active">Nouvelle</br> vente</a>
            {% if is_granted('ROLE_ADMIN') %}
            <a href={{ path("all_vte") }} role="button" class="btn btn-default btn-lg active">Gestion</br> des
                ventes</a>
            {% endif %}
            {% endif %}
        </div>

        <div class="row">
            {% if is_granted('ROLE_ADMIN') or is_granted('ROLE_USER') %}
            <a href="{{ path("recap_clt") }}" role="button" class="btn btn-default btn-lg active">Fidélité</br>par
                client</a>
            {% endif %}
        </div>

        <div class="row">
            {% if is_granted('ROLE_ADMIN') or is_granted('ROLE_USER') %}
                <a href="{{ path("security_profile") }}" role="button" class="btn btn-default btn-lg active">Profil</br>de l'utilisateur</a>
            {% endif %}
            {% if is_granted('ROLE_ADMIN') %}
                <a href="{{ path("admin") }}" role="button" class="btn btn-default btn-lg active">Gestion</br>des utilisateurs</a>
            {% endif %}
        </div>
    </div>

    {% if is_granted('ROLE_ADMIN') or is_granted('ROLE_USER') %}
        <a href={{ path("logout") }} role="button" class="btn btn-default">Déconnexion</a>
    {% endif %}
{% endblock %}

{% block javascripts %}
    <script src="{{ asset('jquery/jquery.js') }}"></script>
    <script src="{{ asset('bootstrap/js/bootstrap.min.js') }}"></script>
{% endblock %}
</body>
</html>
