{% extends 'base.html.twig' %}

{% block body %}
    {% block formTitle %}<h1>Renouvellement<br/> mot de passe</h1>{% endblock %}

    <div class="col-xs-12">
    {% for label, flashes in app.session.flashbag.all %}
        {% for flash in flashes %}
            <div class="alert alert-{{ label }}">
                {{ flash }}
            </div>
        {% endfor %}
    {% endfor %}

    <div class="row">
        <div class="col-xs-10 col-md-6 col-lg-7">
            <div class="well">
            {{ form_start(form, {'attr': {'class': 'formulaire-container text-center '}}) }}
                <div class="form-group">
                    {{ form_row(form.plainPassword.first, {'label' : 'Nouveau mot de passe', 'attr':{'placeholder': 'nouveau mot de passe', 'class': 'text-center'}}) }}
                </div>
                <div class="form-group">
                    {{ form_row(form.plainPassword.second, {'label' : 'Confirmez votre mot de passe', 'attr': {'placeholder': 'Confirmation du nouveau mot de passe', 'class': 'text-center'}}) }}
                </div>
                <div>
                    <input class="btn btn-default btn-lg active" type="submit" value= "Renouveler" />
                </div>
            {{ form_end(form) }}
            <a href="{{ path('security_send_email') }}">Un probleme? Redemandez un mail</a><br>
             </div>
        </div>
    </div>

    <div class="row">
        <a role="button" class="btn btn-default active" href={{ path("accueil") }}>Accueil</a>
    </div>
{% endblock %}